/* ************************************************************ */
/*                 MAIN STYLES                                  */
/* ************************************************************ */
:root {
  --white: #ffffff;
  --black: #000000;
  --background-clr: #fdfdfd;
  --main-color: #474747;
  --altmaincolordark: #2f2f2f;
  --lightertextcolor: #404040;
  --darkestgrey: #262626;
  --heroh1: #0f3e6b;
  --herotextcolor: #333333;
  --border: #444444;

  --navlinks: #e94f37;
  --linkunderlines: #34c5b1;
  --sectiondivider: #838383;

  --buttons-color: #ff725c;
  --btnborders: #6c757d;

  --casestudybackground: #f0f0f1;
  --footersocialhover: #737575;

  /*Gooey Button*/
  --bg: #fff;
  --text: #242424;
  --color: #34c5b1;
  --hovr: #e45b46;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  background-color: var(--background-clr);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--main-color);
  font-family: "Montserrat", sans-serif;
}
p {
  color: var(--main-color);
}
h2.title-h2 {
  font-weight: 300;
  font-size: 2.5em;
}
.col1 h5,
.col2 h5 {
  font-weight: 700;
  font-size: 16px;
}
.about-section,
.main,
.alt-work-projects,
.contact {
  margin-top: 50px;
}
.hr {
  border-top: 6px solid var(--border);
  width: 50%;
  position: absolute;
}
.logo-text {
  font-size: 2.5rem;
}
.lead {
  font-size: 1.15rem;
  font-weight: 400;
  font-family: open sans;
  color: var(--heroh1);
}
/* BUTTON STYLES */

/* the buttons on the flip cards needed to match height and width of sites other buttons for consistency */
.general-button-cards {
  padding: 16px 16px !important;
  transition: 0.6s;
}

/* ************************************************************ */
/*               HEADER BUTTON                                  */
/* ************************************************************ */

.header-button {
  display: inline-block;
  text-align: center;
  background: var(--color);
  color: var(--black);
  padding: 12px 12px;
  position: relative;
  text-decoration: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  transition: background-color 0.4s ease-out;
}

.header-button:hover {
  background-color: var(--hovr);
  color: var(--black);
}

/* ************************************************************ */
/*                NAVBAR ANIMATED UNDERLINES                    */
/*          thanks to   https://codingyaar.com/                 */
/* ************************************************************ */
.navbar .navbar-nav .nav-link:hover {
  color: var(--navlinks);
}
.navbar .navbar-nav .nav-link {
  position: relative;
}
.navbar .navbar-nav .nav-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: var(--navlinks);
  color: transparent;
  width: 0%;
  content: "";
  height: 3px;
  transition: all 0.5s;
}
.navbar .navbar-nav .nav-link:hover::after {
  width: 100%;
}
/* **********************************************************  */
/*                LINKS ANIMATED UNDERLINES                    */
/*                thanks to   MrPirrera                        */
/*       https://codepen.io/pirrera/pen/emKqBp                 */
/* *********************************************************** */

a#underline {
  text-decoration: none;
  border-bottom: 1px solid var(--linkunderlines);
  box-shadow: inset 0 -4px 0 var(--linkunderlines);
  color: inherit;
  transition: background 0.1s cubic-bezier(0.33, 0.66, 0.66, 1);
  padding: 2px; /* separates the line from the type a bit more for legibility */
}

a:hover#underline {
  background: var(--linkunderlines);
}

/* ************************************************************ */
/*                HEADER SECTION                                */
/* ************************************************************ */
span.header-span {
  font-weight: 500;
}

a.navbar-brand img {
  position: relative;
  width: 125px;
  height: 50px;
  background-size: cover;
}
.heading {
  font-family: "Nunito Sans", sans-serif;
  color: var(--heroh1);
  font-size: 5em;
}

.leader {
  font-size: 1.1rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}
.hero-top .py-5 {
  padding-top: 3rem !important;
  padding-bottom: 10rem !important;
}
.hero-top {
  background-image: linear-gradient(
    to left,
    rgba(128, 204, 113, 0.7),
    rgb(174, 236, 251)
  );
  color: var(--herotextcolor);
}
.lightbulb {
  width: 700px;
  height: 375px;
}
.lightbulb img {
  filter: drop-shadow(5px 5px 5px rgb(61, 61, 61));
  height: 420px;
  margin-left: auto;
  margin-right: auto;
}
.hero-slant {
  position: relative;
}

/* ************************************************************ */
/*                 ABOUT SECTION                                */
/* ************************************************************ */
.about-section p {
  font-size: 1rem;
  color: var(--lightertextcolor);
}
.about-head {
  color: var(--main-color);
  background-color: var(--background-clr);
  text-align: center;
}

img.headimage {
  width: 90%;
}

.about-section {
  margin-top: 42px;
}
.card.work-card {
  border: none;
}

.heading-about {
  font-family: Montserrat, sans-serif;
  color: var(--main-color);
  width: 358px;
  margin-left: auto;
  margin-right: auto;
}

img.greendots-vert-abouthead {
  margin: 17px 0 80px 0px;
}

.about-body {
  padding-top: 100px;
}
.col-md-1.num1,
.col-md-1.num2,
.col-md-1.num3,
.col-md-6.num4,
.col-md-1.num5 {
  width: 75px;
  margin-top: 50px;
}

.col-md-1.num1 h2,
.col-md-1.num2 h2,
.col-md-1.num3 h2,
.col-md-1.num4 h2,
.col-md-1.num5 h2 {
  font-size: 2.5em;
  margin-top: -20px;
}
.col-md-1.num2 {
  padding-top: 0px;
}
.col-md-1.num3 {
  margin-top: 50px;
}
.col6-num4 {
  width: 400px;
}
.row.row-num-4 {
  margin-top: 10px;
}
.number1 h2 {
  font-size: 8em;
  margin-top: -25px;
}

img.greendots-vert-1,
img.green-dots-1,
img.greendots-vert-2,
img.green-dots-3,
img.green-dots-4 {
  display: none;
}

.dottedline,
.dottedline-1 {
  border: none;
  border-top: 6px dotted #bfbfbf;
  color: #fff;
  background-color: #fff;
  height: 15px;
  width: 30%;
  margin-right: auto;
  margin-left: auto;
}
.dottedline-1 {
  margin-top: 85px;
}

/* ************************************************************ */
/*                  TECHNOLOGY & SKILLS                         */
/* ************************************************************ */
.skills-container {
  margin-top: 70px;
}
.skills-container ul li {
  font-size: 1.2rem;
}
.tech-column {
  margin-top: 28px;
  margin-left: 36px;
}
.design,
.seo {
  margin-top: 100px;
}
.tech-column ul {
  text-align: left;
}
img.code-icon {
  height: 41px;
  margin-top: -22px;
  margin-bottom: 5px;
}
img.design-icon {
  height: 70px;
  margin-top: -17px;
}
img.seo-icon {
  height: 50px;
  margin-top: -0px;
  margin-bottom: 5px;
}
.feature-icon.code-icon-container {
  margin-bottom: 5px;
}

/* ************************************************************ */
/*                  PORTFOLIO & FLIP CARDS                      */
/* ************************************************************ */
.portfolio-section {
  margin-top: -30px;
}
#work {
  text-align: center;
}
/* flip cards */
.container-flip {
  max-width: 1200px;
  margin: auto;
  padding: 60px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Required to position the posts one below the other on smaller devices */
}

.post-wrap {
  min-width: 300px;
  max-width: 380px;
  height: 500px;
  perspective: 1000px;
  flex: 1;
  margin: 0 15px 30px;
}
.post-wrap:hover {
  cursor: pointer;
}
.post {
  position: relative; /* Required to absolutely position the child faces */
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.post-front,
.post-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}
.post-back {
  transform: rotateY(180deg);
}
.post-front,
.post-back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.post-wrap:hover .post {
  transform: rotateY(180deg);
}

/* front face styles */
.post-img {
  background-size: cover;
  background-position: center;
  height: 300px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.post-info {
  padding: 20px 30px 30px;
}
.post-info span {
  font-size: 0.8rem;
  color: #808080;
}
.post-info h2 {
  font-weight: bold;
  font-size: 1.2rem;
  padding-top: 5px;
}
/* backface styles */
.post-back {
  background-color: var(--white);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* To push the read more button to bottom */
  align-items: flex-start; /* To position the read more button at the left */
}
.post-back h2 {
  font-weight: bold;
  font-size: 1.2rem;
  padding-top: 5px;
}
.post-back p {
  margin-top: 10px;
  line-height: 1.6;
}
.post-back a,
.general-button a {
  text-decoration: none;
  color: var(--text);
  background-color: var(--linkunderlines);
  padding: 10px 14px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 0.9em;
  font-weight: bold;
  border-radius: 5px;
}
.post-back a:hover,
.general-button a:hover {
  background-color: var(--buttons-color) !important;
  border-color: var(--buttons-color) !important;
  color: var(--black);
}
.general-button a {
  padding: 16px 16px !important;
  transition: 0.6s;
}
.post-info {
  text-align: center;
}
.btn-top-casestudy {
  color: var(--darkestgrey);
  background-color: var(--white);
  border-color: var(--btnborders);
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
  transition: 0.6s;
}
a:hover.btn.btn-top-casestudy.btn-outline-secondary.btn-lg.px-4.gap-3 {
  background-color: var(--buttons-color) !important;
  border-color: var(--buttons-color) !important;
  color: var(--black);
}

/* ************************************************************ */
/*                  INDIVIDUAL CASE STUDY PAGES                 */
/* ************************************************************ */

/* since the container is fluid percentage width limits the width for better reading/legibility */
.tech-used p {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.tech-used-cols {
  text-align: center;
}
.case-study-icons {
  margin-bottom: 3rem;
}
.feature h3 {
  margin-bottom: 1rem;
}
.project-images img {
  max-width: 90%;
  height: auto;
  border-radius: 21px 21px 0 0;
}
.conclusion-para p {
  max-width: 90%;
  text-align: left;
}
.case-study-para p {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.case-study-bg-imgs {
  background-color: var(--casestudybackground) !important;
}

/* ************************************************************ */
/*                  SLANTED SVG'S                               */
/* ************************************************************ */

/* slanted svg's sections */

.custom-shape-divider-bottom-1630629094 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1630629094 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1630629094 .shape-fill {
  fill: var(--background-clr);
}
/* FOOTER SLANT */
.footer-wave {
  position: relative;
}
.custom-shape-divider-top-1630810033 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.custom-shape-divider-top-1630810033 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1630810033 .shape-fill {
  fill: var(--background-clr);
}

/* ************************************************************ */
/*                  PORTFOLIO PAGE                              */
/* ************************************************************ */
.tree-icon svg {
  height: 200px;
  width: 125px;
}
.container.storm-icon svg {
  height: 57px;
  width: 72px;
}
.portfolio-container,
.portfolio-container-h2 {
  margin-bottom: 2rem;
}
.second-row-portcards {
  margin-bottom: 15rem;
}

/* ************************************************************ */
/*                  FOOTER SECTION                              */
/* ************************************************************ */

#sticky-footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: linear-gradient(
    to left,
    rgba(128, 204, 113, 0.7),
    rgb(174, 236, 251)
  );
  color: var(--altmaincolordark);
  height: 250px;
}
#sticky-footer span {
  display: block;
  font-size: larger;
}
.container-foot {
  text-align: center;
}
.form-container p {
  padding-left: 3px;
  font-size: 1.1rem;
}
.linkedin-social,
.github-social,
.instagram-social {
  display: inline-block;
  padding-right: 15px;
}
.linkedin-social svg,
.github-social svg,
.instagram-social svg {
  width: 2rem;
  padding-top: 1rem;
  height: auto;
  fill: var(--altmaincolordark);
}
.linkedin-social svg:hover,
.github-social svg:hover,
.instagram-social svg:hover {
  fill: var(--footersocialhover);
}
.copyright-info {
  text-align: center;
  margin-top: 35px;
  font-weight: 500;
  margin-bottom: 10px;
}
a#contact-link {
  text-decoration: none;
  border-bottom: 2px solid var(--linkunderlines);
  box-shadow: inset 0 -4px 0 var(--linkunderlines);
  color: inherit;
  transition: background 0.1s cubic-bezier(0.33, 0.66, 0.66, 1);
  padding: 5px; /*separates the line from the type a bit more*/
  font-size: 2.5rem;
}
a:hover#contact-link {
  background: var(--linkunderlines);
  color: var(--white);
}
.contact-para {
  margin-top: 50px;
}
.contact-link-container {
  text-align: center;
}
.contact-section-divider {
  display: none;
}
.reach-out {
  padding-bottom: 35px;
}

/* BACK TO TOP BUTTON */

#btn-back-to-top {
  position: fixed;
  bottom: 9rem;
  right: 20px;
  display: none;
  background-color: var(--altmaincolordark) !important;
  border: var(--altmaincolordark) !important;
  z-index: 99;
}
#btn-back-to-top svg {
  width: 25px;
  height: 25px;
  fill: var(--white);
}

/* ************************************************************ */
/*                  MEDIA QUERIES                               */
/* ************************************************************ */

@media (min-width: 576px) {
  .lightbulb {
    height: 475px;
  }
  .heading-about {
    width: auto;
  }
  .lightbulb img {
    height: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  .work-card {
    text-align: center;
  }
  .work-card h2 {
    text-align: center;
  }
  .work-card ul li {
    list-style-type: none;
  }
  .leader {
    text-align: center;
  }
  .conclusion-para p {
    max-width: 100%;
    text-align: left;
  }
  .tech-column {
    margin-left: 103px;
  }
}

@media (min-width: 768px) {
  .lightbulb {
    height: 575px;
  }

  .heading-about {
    font-family: Montserrat, sans-serif;
    color: var(--main-color);
    width: auto;
  }
  img.greendots-vert-abouthead {
    margin: 17px 17px 0 0;
  }
  img.headimage {
    width: auto;
  }
  .row.row-num-4 {
    margin-top: -129px;
  }

  /* this moves number 4 and para down the page inline with the other paras */
  .col-lg-1.num4 {
    margin-top: 140px;
  }
  .col-md-1.num1,
  .col-md-1.num2,
  .col-md-1.num3,
  .col-md-6.num4,
  .col-md-1.num5 {
    width: 75px;
  }
  .col-md-1.num1 h3 {
    margin-top: -54px;
  }
  .col-md-1.num2 {
    padding-top: 75px;
    margin-left: -60px;
  }
  .col-md-4.num2-para {
    margin: 137px 0 0 -30px;
  }
  .col-md-1.num2 h3 {
    margin-top: 10px;
  }
  .col-md-1.num3 h3 {
    margin-top: -50px;
  }
  .col-md-4.col-num-4 {
    margin-left: -42px;
  }
  .col-md-5.col-num-5-para {
    margin-left: -25px;
  }
  .work-card h2 {
    text-align: center;
  }
  .work-card ul li {
    text-align: center;
  }
  .about-para {
    max-width: 70%;
  }
  .project-images {
    width: 100%;
  }
  .tech-column {
    margin-left: 190px;
  }
}

@media (min-width: 992px) {
  .lightbulb {
    height: 500px;
    width: 350px;
  }
  .work-card {
    text-align: left;
  }
  .work-card h2 {
    text-align: left;
  }
  .work-card ul li {
    list-style-type: none;
    text-align: left;
  }
  /* contact form on index page left border */
  .form-side {
    /*  border-left: solid 2px #838383; */
    padding-left: 0px;
    margin-left: 38px !important;
  }
  /* on the work page the second row of cards for projects on larger screen will display two per row but on smaller
  screens will go full width like the other cards above them */
  .second-row-cards {
    width: 416px;
  }

  /*nav bar animated links styles*/
  .navbar .navbar-nav .nav-link {
    padding: 1em 0.7em;
  }
  .navbar {
    padding: 0;
  }
  .navbar .navbar-brand {
    padding: 0 0.7em;
  }
  .contact-link-container {
    text-align: left;
  }
  .reach-out {
    margin-top: 0;
    padding-right: 0;
    padding-left: 80px;
    padding-bottom: 0;
  }
  .reach-out-p {
    font-size: 1.2rem;
  }
  .reach-out-h1 {
    margin-top: 0;
  }
  .contact-section-divider {
    display: inline-block;
    width: 0;
    height: 240px;
    border-left: solid 2px var(--sectiondivider);
    padding: 0;
    margin: 0;
  }
  .heading-about {
    width: 100px;
    text-align: left;
    margin-left: 0px;
  }
  .about-head {
    text-align: left;
    padding-left: 100px;
    margin-bottom: 75px;
  }
  img.headimage {
    width: 130%;
  }
  .row.num5-container {
    margin-top: -82px;
  }
  .num1 h3,
  .num2 h3,
  .num3 h3,
  .num5 h3 {
    font-size: 7em;
    margin-top: -20px;
  }
  .num4 h3 {
    font-size: 7em;
  }
  .num-5-para {
    margin-top: 159px;
  }
  img.green-dots-1,
  img.greendots-vert-1,
  img.green-dots-3,
  img.green-dots-4 {
    display: inline-block;
  }
  .green-dots-4-container {
    text-align: center;
  }
  img.green-dots-4 {
    margin-top: 266px;
    padding-right: 37px;
  }
  .col-lg-1.num2 {
    margin-top: 148px;
  }
  .col-lg-4.num2-para {
    margin-top: 150px;
  }
  img.green-dots-1 {
    margin: 93px 0 0 83px;
  }
  img.greendots-vert-1 {
    margin: 25px 0 50px 0;
    padding-left: 47px;
  }
  img.green-dots-3 {
    margin: 72px 0 0 126px;
  }
  .design,
  .seo {
    margin-top: 0px;
  }
  .tech-column {
    margin-left: 32px;
  }
}
@media (min-width: 1200px) {
  .ahead {
    height: 396px;
    padding-left: 0px;
  }
  a.navbar-brand img {
    width: 250px;
    height: 100px;
  }
  .conclusion-para p {
    width: 70%;
    text-align: center;
  }
}

@media (min-width: 1400px) {
  .ahead {
    height: 513px;
  }
  .contact-section-divider {
    margin-left: 50px;
  }
  .tech-column {
    margin-left: 88px;
  }
}
